
Source: capi-media-radio
Section: libs
Priority: extra
Maintainer: Kangho Hur <kangho.hur@samsung.com>, Seungkeun Lee <sngn.lee@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libmm-radio-dev, capi-base-common-dev

Package: capi-media-radio
Architecture: any
Depends: ${shilbs:Depends}, ${misc:Depends}
Description: A Radio library in Tizen Native API

Package: capi-media-radio-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-media-radio (= ${Source-Version}), dlog-dev, libmm-radio-dev, capi-base-common-dev
Description: A Radio library in Tizen Native API (DEV)

Package: capi-media-radio-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-media-radio (= ${Source-Version})
Description: A Radio library in Tizen Native API (DBG)

